#root{
  display: flex;
  justify-content: center;
}
.app{
  width: 700px;
  border: 1px solid rgb(215, 38, 215);
  margin-top: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list strong{
margin-right: 10px;
}